.custom {
  margin-top: 20px;
  font-size: xx-large;
}

p, table td, table th, table{
  font-size: xx-large;
}

p.small {
  font-size: x-large;
}

ol.custom li, ul.custom li {
  margin-bottom: 20px;
}

.code {
  font-family: monospace;
  font-size: 1em;
  background-color: #666;
  padding: 0.1em 0.1em;
  border-radius: 3px;
}

.r-stack .fragment .scala {
  width: 100%;
}

.flex {
  display: flex;
}

.c100 {
  width: 100%;
}

.c70 {
  width: 70%;
}

.c66 {
  width: 66%;
}

.c60 {
  width: 60%;
}

.c55 {
  width: 55%;
}

.c50 {
  width: 50%;
}

.c45 {
  width: 45%;
}

.c40 {
  width: 40%;
}

.c33 {
  width: 33%;
}

.c30 {
  width: 30%;
}

.h275 {
  height: 275px;
}

.h225 {
  height: 225px;
}

table.reverse {
  display: table;
}

table.reverse tr {
  display: table-cell;
}

table.reverse tr td {
  display: block;
}

table.centered th, table.centered td {
  text-align: center;
}
